REACT_APP_CLIENT_NAME=
REACT_APP_AUTH_DOMAIN=
REACT_APP_AUTH_CLIENT_ID=
REACT_APP_AUTH_AUDIENCE=
REACT_APP_AUTH0_DOMAIN=

#Develop and mock
REACT_APP_BACKEND_API_MOCK='http://localhost:3000/'

#Common
REACT_APP_TIMEOUT_MINS=60

#Public
REACT_APP_PUBLIC_AUTH0_DOMAIN='http://localhost:3001/login'
REACT_APP_PUBLIC_AUTH_DOMAIN=
REACT_APP_PUBLIC_AUTH_CLIENT_ID=
REACT_APP_PUBLIC_AUTH_AUDIENCE=

REACT_APP_PUBLIC_BACKEND_API=
