# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store

/.idea

# Work with npm/yarn locally for monorepo projects
/.yalc
yalc.lock
